<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>Notes</h2>
      <% @notes.each do |note| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= note.title %></h3>
        </div>
        <div class="panel-body">
          <p>
            <%= note.content.truncate(140) %>
            <a href="/notes/<%= note.id %>">Read more</a>
          </p>
          <p>Written by: <%= note.user.username %></p>
          <% if current_user %>
            <a href="/notes/<%= note.id %>/edit">edit</a>
            <a href="/notes/<%= note.id %>/delete">delete</a>
          <% else %>
            <a href="/notes/<%= note.id %>/edit" style="display:none">edit</a>
            <a href="/notes/<%= note.id %>/delete" style="display:none">delete</a>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if logged_in? %>
        <a href="/notes/new" class="btn btn-default btn-lg h2" role="button">Add New Notes</a>
      <% else %>
        <a href="/notes/new" class="btn btn-default btn-lg h2" style="display:none" role="button">Add New Notes</a>
      <% end %>
    </div>
  </div>

  <hr>
</div> <!-- /container -->
